<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="first" color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title>Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <div class="titulo">Productos</div>
    </ion-card-header>
    <ion-card-content>
  <div class="contenedor grid2">
    <div>
      <ion-searchbar placeholder="Buscar productos" (ionChange)="onSearch($event)"></ion-searchbar>
    </div>
    <div class="boton-agregar">
      <ion-button (click)="mostrarModalProductos()" color="warning" shape="round" >
        <ion-icon name="document-outline"> </ion-icon>
        <ion-label> Agregar Produtco</ion-label>
      </ion-button>
    </div>
  </div>
      <div class="contenido">
        <ag-grid-angular
          class="tabla"
          [class]="themeClass"
          [rowData]="filteredRowData"
          [columnDefs]="colDefs"
          [paginationAutoPageSize]="true"
          [pagination]="true"
        >
        </ag-grid-angular>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
