ion-button ion-label {
  text-transform: capitalize;
}
ion-item {
  --border-width: 0;
  --border-radius: 10px;
  margin-bottom: 10px;
}
ion-input{
  --border-radius: 10px;
}
.titulo {
  font-weight: bold;
  margin-bottom: 28px;
  color: #001b4a;
  font-size: 20px;
  line-height: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 0%;
}
.regulartitulo{
  font-size: small;
  color: #001b4a;
  font-size: 16px;
  line-height: 24px;
}
.contenedor {
  width: 95%;
  margin: 0 auto;
}
.boton-opciones {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
}
@media(min-width: 768px) {
  .grid-contenedor{
    display: grid;
    grid-template-columns: 50% 40%;
    column-gap: 1rem;

  }
}
.codigo{
  max-width: 300px;
}
.nit{
  max-width: 500px;
}
.nombre-apellido{
  max-width: 750px;
}
.direccion{
  max-width: 1500px;
}


@media(min-width: 768px){
  .grid2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }
  .grid7{
    display: grid;
    grid-template-areas: "labelcred checbox div inputcred div2 labelcred2 inputcred2";
    grid-template-columns: 9% 10% 10% 18% 10% 8% 8%;
    column-gap: 1rem;
  }
  .grid6{
    display: grid;
    grid-template-areas: "label  div input div2 label2 input2";
    grid-template-columns: 25% 5% 18% 10% 8% 15%;
    column-gap: 1rem;
  }
}
.botones{
  width: 100px;
  height: 50px;
}
