<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>ControlPLUS - ASETEC COMPUTACION</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <label>INGRESO DE CLIENTES</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12"  class="ion-text-center">
          <ion-button shape="round">
            <ion-icon name="play-skip-back-outline" > </ion-icon>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="play-outline" class="invert"> </ion-icon>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="play-outline"> </ion-icon>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="play-skip-forward-outline"> </ion-icon>
          </ion-button>
          <label>Registro: 0/0</label>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-input label="Código:"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-input label="NIT / DPI-CUI:" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input label="Nombres:" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-input label="Apellidos:" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-input label="Direccion:" type="text"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>Credito:</ion-label>
        </ion-col>
        <ion-col size="3">
          <ion-checkbox labelPlacement="end">Limite de Credito:</ion-checkbox>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-input label="Días Credito:" type="number"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6">
          <ion-label for="">Saldo a Favor x Debol. / Monto mínimo Precio Mayorista</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-item>
            <ion-input type="number"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-input type="number" label="Telefono:"></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3">
          <ion-label>Precio al momento de la venta:</ion-label>
        </ion-col>
        <ion-col size="2">
          <ion-input type="text"></ion-input>
        </ion-col>
        <ion-col size="4">
          <ion-input type="text" ></ion-input>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="9">
          <ion-button shape="round" >
            <ion-icon name="document-outline"> </ion-icon>
            <ion-label>Agregar</ion-label>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="return-up-back-outline"> </ion-icon>
            <ion-label>Deshacer</ion-label>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="save-outline"> </ion-icon>
            <ion-label>Guardar</ion-label>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="create-outline"> </ion-icon>
            <ion-label>Modificar</ion-label>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="close-circle-outline"> </ion-icon>
            <ion-label>Eliminar</ion-label>
          </ion-button>
        </ion-col>
        <ion-col size="3" >
          <ion-button shape="round">
            <ion-icon name="print-outline"> </ion-icon>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="search-outline"> </ion-icon>
          </ion-button>
          <ion-button shape="round">
            <ion-icon name="exit-outline"> </ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>


    </ion-card-content>
  </ion-card>
</ion-content>
