<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>ControlPLUS - ASETEC COMPUTACION</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="titulo">Categorias</div>
  <div class="contenedor dos-columnas">
    <ion-item lines="full" class=" codigo regulartitulo">
      <ion-label position="stacked">Código:</ion-label>
      <ion-input type="number" ></ion-input>
    </ion-item>
    <div class="boton-opciones">
      <ion-button shape="round">
        <ion-icon name="play-skip-back-outline" > </ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon name="play-outline" class="invert"> </ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon name="play-outline"> </ion-icon>
      </ion-button>
      <ion-button shape="round">
        <ion-icon name="play-skip-forward-outline"> </ion-icon>
      </ion-button>
      <ion-label class="regulartitulo">Registros: 0/0</ion-label>
    </div>
  </div>
  <div class="contenedor">
    <div class="div-centrado">
      <ion-label class="regulartitulo" >Sub-Categorías:</ion-label>
      <ion-button>
        <ion-label>Eliminar</ion-label>
      </ion-button>
    </div>
    <div class="div-centrado">
      <ion-label class="regulartitulo">Elementos de la lista</ion-label>
    </div>
    <div class="div-centrado ">
      <ion-list lines="inset" class="lista-cat scroll">
        <ion-item *ngFor="let input of inputs; let i = index">
          <ion-input type="text" [(ngModel)]="input.text" (keyup.enter)="agregarInput(i)"></ion-input>
        </ion-item>
      </ion-list>
    </div>
  </div>
  <div class="contenedor dos-columnas" >
    <div class="">
      <ion-button color="warning" shape="round" >
        <ion-icon name="document-outline"> </ion-icon>
        <ion-label>Agregar</ion-label>
      </ion-button>
      <ion-button shape="round">
        <ion-icon name="return-up-back-outline"> </ion-icon>
        <ion-label>Deshacer</ion-label>
      </ion-button>
      <ion-button color="success" shape="round">
        <ion-icon name="save-outline"> </ion-icon>
        <ion-label>Guardar</ion-label>
      </ion-button>
      <ion-button color="tertiary" shape="round">
        <ion-icon name="create-outline"> </ion-icon>
        <ion-label>Modificar</ion-label>
      </ion-button>
      <ion-button color="danger" shape="round">
        <ion-icon name="close-circle-outline"> </ion-icon>
        <ion-label>Eliminar</ion-label>
      </ion-button>
    </div>
    <div class="">
      <ion-button color="success" shape="round">
        <ion-icon name="print-outline"> </ion-icon>
      </ion-button>
      <ion-button color="warning" shape="round">
        <ion-icon name="search-outline"> </ion-icon>
      </ion-button>
      <ion-button color="danger" shape="round">
        <ion-icon name="exit-outline"> </ion-icon>
      </ion-button>
    </div>
  </div>
</ion-content>
