ion-button ion-label {
  text-transform: capitalize;
}
.button-container ion-button {
  width: auto;
}
.button-content {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 100%;
}

.button-container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 1rem;
}
@media (min-width: 768px) {
  .button-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
  }
}
