.titulo {
  font-size: 20px;
  line-height: 28px;
  font-weight: bold;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.titulo1{
  color: #001a4a;
}
.titulo2{
  color:#3078ff;
}
.mi-card {
  border-radius: 15px;
  cursor: pointer;
}
.mi-card:hover {
  transform: scale(1.05);
}
.mi-card:active {
  transform: scale(0.95);
}
.contenido {
  display: flex;
  align-items: center;
}

.icono-container {
  background-color: #ebf1ff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.icono {
  color:#3078ff;
  font-size: 24px;
}

.nombre {
  color: #001b4a;
  flex: 1;
  font-size: 20px;
  line-height: 28px;

}
